@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Livvic, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
ul,
ol,
a,
blockquote,
textarea,
input,
button {
  font-family: Karla, Helvetica, Arial, sans-serif;
}
